<div th:fragment="navbar" id="templatemo_menu">
    <div class="profile-menu">
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/BGGForum/users/profile}">
                <img class="navbar-picture"
                     th:src="${principalPhoto}"
                     alt="profile_picture">
                <span class="navbar-username" th:text="${#authentication.name}"></span>
            </a>
        </li>
    </div>

    <ul class="main-menu">
        <li>
            <a th:href="@{/}">Home</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/BGGForum/posts}">Posts</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/BGGForum/posts/new}">Create Post</a>
        </li>
        <li sec:authorize="!isAuthenticated()">
            <a th:href="@{/auth/register}">Register</a>
        </li>
        <li sec:authorize="hasAnyRole('ADMIN','MODERATOR')">
            <a th:href="@{/BGGForum/admin}">Admin</a></li>
        <li sec:authorize="!isAuthenticated()">
            <a th:href="@{/auth/login}">Sign In</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a href="#" onclick="logout()">Log out</a>
        </li>
    </ul>
</div>