/*
Credit: http://www.templatemo.com
*/

/* 
Clean Blog Template 
http://www.templatemo.com/preview/templatemo_251_clean_blog 
*/
body {
    margin: 0px;
    padding: 0px;
    color: #666;
    font-family: Helevetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    background-image: url(../images/templatemo_body.jpg);
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
}

a, a:link, a:visited {
    color: #CC0000;
}

a:hover {
    color: #666666;
    text-decoration: none;
}

p {
    margin: 0px;
    padding: 0 0 10px 0;
}

img {
    border: none;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 30px 0;
    padding: 5px 0;
    color: #000;
}

h2 {
    font-size: 28px;
    font-weight: normal;
    line-height: 28px;
    margin: 0 0 30px 0;
    padding: 0;
    color: #c7a902;
}

h3 {
    font-size: 21px;
    margin: 0 0 20px 0;
    padding: 0;
    color: #666666;
}

h4 {
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 0;
    color: #ffa200;
}

h5 {
    font-size: 16px;
    margin: 0 0 10px 0;
    padding: 0;
    color: #ffa200;
}

h6 {
    font-size: 14px;
    margin: 0 0 5px 0;
    padding: 0;
    color: #ffa200;
}

.cleaner {
    clear: both;
    width: 100%;
    height: 0px;
    font-size: 0px;
}

.cleaner_h10 {
    clear: both;
    width: 100%;
    height: 10px;
}

.cleaner_h20 {
    clear: both;
    width: 100%;
    height: 20px;
}

.cleaner_h30 {
    clear: both;
    width: 100%;
    height: 30px;
}

.cleaner_h40 {
    clear: both;
    width: 100%;
    height: 40px;
}

.cleaner_h50 {
    clear: both;
    width: 100%;
    height: 50px;
}

.cleaner_h60 {
    clear: both;
    width: 100%;
    height: 60px;
}

.margin_r30 {
    margin-right: 30px;
}

.vertical_divider {
    border-right: 1px solid #d9d9d9;
}

.horizon_divider {
    border-bottom: 1px solid #d9d9d9;
}

.float_l {
    float: left;
}

.float_r {
    float: right;
}

.image_wrapper {
    display: inline-block;
    padding: 8px;
    border: 1px solid #999;
    background: #ffffff;
    margin-bottom: 10px;
}

.fl_img {
    float: left;
    margin: 3px 30px 15px 0;
}

.fr_img {
    float: right;
    margin: 3px 0 15px 30px;
}

blockquote {
    font-style: italic;
    margin-left: 10px;
}

cite {
    font-weight: bold;
}

cite span {
    color: #8da332;
}

em {
    color: #5d6d1e;
}

.templatemo_list {
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

.templatemo_list li {
    background: transparent url(../images/templatemo_list.png) no-repeat scroll 0 0px;
    margin: 0 0 20px;
    padding: 0 0 0 25px;
    line-height: 1em;
}

.templatemo_list li a {
    color: #666;
    text-decoration: none;
}

.templatemo_list li a:hover {
    color: #000;
}

.button a {
    clear: both;
    display: block;
    width: 82px;
    height: 23px;
    padding: 3px 0 0 0;
    margin-top: 15px;
    background: url(../images/templatemo_button.png) no-repeat;
    color: #000;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.button a:hover {
    color: #fff;
    background: url(../images/templatemo_button_hover.png) no-repeat;
}

#templatemo_wrapper {
    width: 970px;
    padding: 0;
    margin: 0 auto;
    background: url(../images/templatemo_wrapper.png) repeat-y;
}

.post-filter {
    margin: 0 auto 0 6rem;
}

.post-filter.message {
    text-align: center;
}

.post-content{
    margin-top:20px;
}
/* menu */

#templatemo_menu {
    width: 860px;
    height: 50px;
    margin: 0 10px 0 100px;
    padding: 20px 30px 0 0;
    background: url(../images/templatemo_menu.png) top repeat-x;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#templatemo_menu ul li {
    padding: 0px;
    margin: 0px;
    display: inline;
}

#templatemo_menu ul li a {
    float: left;
    display: block;
    width: 112px;
    height: 48px;
    padding: 0;
    margin: 0 5px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #e4decd;
    font-weight: bold;
    outline: none;
    border: none;
}

#templatemo_menu ul li a:hover, #templatemo_menu ul li .current {
    height: 38px;
    padding-top: 10px;
    color: #fff;
    background: url(../images/templatemo_menu_hover.png) bottom no-repeat;
}

/* end of menu */

#templatemo_left_column {
    float: left;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0; /* Adds padding around the column if needed */
    box-sizing: border-box; /* Ensures padding is included in the element's total width/height */
}

#templatemo_right_column {
    float: right;
    width: 520px;
    margin-right: 10px;
}

#templatemo_header {
    width: 360px;
    height: 276px;
    padding: 0 10px;
    margin-left: 20px;
    background: url(../images/templatemo_header.png) left center no-repeat;
}

#templatemo_header #site_title {
    float: left;
    width: 310px;
    padding: 115px 0 0 60px;
}

#templatemo_header #site_title h1 {
    margin: 0;
    padding: 0;
}

#templatemo_header #site_title h1 a {
    margin: 0px;
    padding: 0px;
    font-size: 38px;
    color: #000;
    font-weight: normal;
    text-decoration: none;
}

#templatemo_header #site_title h1 strong {
    color: #f00;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#templatemo_header #site_title a span {
    display: block;
    font-size: 16px;
    color: #666;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 5px;
    margin-top: 20px;
}

#featured_project {
    float: right;
    width: 520px;
    height: 210px;
    padding: 33px 0;
    background: url(../images/templatemo_featured_project.png) no-repeat;
}

#templatemo_sidebar {
    clear: both;
    float: left;
    width: 250px;
    margin-left: 130px;
}

#templatemo_main {
    float: right;
    width: 490px;
    padding-top: 40px;
    margin-right: 30px;
}

.post_section {
    clear: both;
    position: relative;
    padding: 0 60px 100px 0;
    margin: 40px 0;
    background: url(../images/templatemo_post_bottom.png) bottom left no-repeat;
}

.post_section h2 {
    margin: 0;
    padding: 10px 0 10px 0;
    line-height: 30px;
}

.post_section p {
    text-align: justify;
    margin-bottom: 10px;
}

.post_section img {
    clear: both;
    display: block;
    margin: 20px 0;
}

.post_section .comment {
    position: absolute;
    top: -50px;
    right: 0px;
    width: 70px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
    background: url(../images/templatemo_comment.png) no-repeat;
}

.post_section .like-icon{
    position: absolute;
    top: -45px;
    left: 0;
}

.post_section .dislike-icon{
    position: absolute;
    top: -45px;
    left: 100px;
}

.post_section .likes {
    position: absolute;
    top: -50px;
    left: 20px;
    width: 70px;
    height: 42px;
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.post_section .dislikes {
    position: absolute;
    top: -50px;
    left: 120px;
    width: 70px;
    height: 42px;
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.post_section .comment a {
    color: #333;
    text-decoration: none;
}

.post_section .comment_tab {
    padding: 10px 0;
    margin: 40px 0 20px 0;
    border-bottom: 1px dashed #666;
    font-size: 20px;
    font-weight: bold;
}

#templatemo_rss a {
    float: right;
    display: block;
    width: 190px;
    height: 40px;
    padding: 10px 0 10px 60px;
    margin-bottom: 30px;
    color: #ffa200;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background: url(../images/templatemo_rss.png) left center no-repeat;
}

#templatemo_header #templatemo_rss a:hover {
    color: #fff;
    text-decoration: none;
}

#templatemo_rss a span {
    font-size: 12px;
    margin-top: 5px;
    letter-spacing: 3px;
}

.comment_tab {
    padding: 10px 0;
    margin: 40px 0 40px 0;
    border-bottom: 1px dashed #666;
    font-size: 20px;
    font-weight: bold;
}

#comment_section {
    clear: both;
    margin-bottom: 60px;
    width: 460px;
}

.first_level {
    margin: 0;
    padding: 0;
}

.comments {
    list-style: none;
}

.comments li {
    margin-bottom: 10px;
    list-style: none;
}

.comments li .commentbox1 {
    border: 1px solid #dddddd;
    background: #eeeeee;
}

.comments li .commentbox2 {
    border: 1px solid #dddddd;
    background: #f6f6f6;
}

.comments li .comment_box {
    clear: both;
    width: 100%;
    padding: 15px;
}

.comment_box .gravatar {
    float: left;
    width: 50px;
    margin-right: 15px;
    background: #fff;
    border-radius: 50%;
}

.comment_box .gravatar img {
    margin: 0;
    width: 50px;
    height: 50px;
}

.comment_box .comment_text {
    margin: 0 0 0 65px;
    word-wrap: break-word;
}

.comment_box .comment_text p {
    margin: 0;
}

.comment_text .comment_author {
    font-size: 14px;
    font-weight: bold;
    color: #781919;
    margin-bottom: 10px;
}

.comment_text .date {
    float:right;
    font-size: 12px;
    font-weight: normal;
    color: #333;
    padding-left: 10px;
}

.comment_text .time {
    font-size: 12px;
    font-weight: normal;
    color: #333;
    padding-left: 10px;
}

.comment_text .reply a {
    display: block;
    clear: both;
    float: right;
    padding: 1px 10px;
    width:70px;
    height: 24px;
    text-align: center;
    background: gray;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
}
.comment_text .reply a:hover{
    background: #a7a6a6;
}
.post-actions{
    position: absolute;
    top: -40px;
    right: 170px;
}
.post-actions .reply a{
    padding: 5px 10px;
    width:70px;
    height: 24px;
    text-align: center;
    background: none;
    border-radius: 15px;
    color: #000;
    text-decoration: none;
}

.post-actions .reply a:hover{
    background: lightgray;
}

.post-actions .reply a:active{
    background: gray;
}

#comment_form {
    clear: both;
}

#comment_form h3 {
    font-size: 20px;
    border-bottom: 1px dotted #666;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

#comment_form form {
    padding: 20px;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
}

#comment_form textarea {
    background: #FFFFFF none repeat fixed 0 0;
    border: 1px solid #CCC;
    display: block;
    font-size: 1.1em;
    height: 150px;
    margin-top: 5px;
    padding: 5px;
    width: 360px;
}

#comment_form .textarea-post-title{
    background: #FFFFFF none repeat fixed 0 0;
    border: 1px solid #CCC;
    display: block;
    font-size: 1.1em;
    height: 50px;
    margin-top: 5px;
    padding: 5px;
    width: 360px;
}

#comment_form .textarea-post-content{
    background: #FFFFFF none repeat fixed 0 0;
    border: 1px solid #CCC;
    display: block;
    font-size: 1.1em;
    height: 350px;
    margin-top: 5px;
    padding: 5px;
    width: 360px;
}

#comment_form .form_row {
    width: 100%;
    margin-bottom: 15px;
}

#comment_form .form_row input[type="text"]{
    width: 360px;
    margin-bottom: 15px;
}

#comment_form form input {
    margin-top: 5px;
    width: 200px;
    background: #FFFFFF none repeat fixed 0 0;
    border: 1px solid #CCC;
}

#comment_form .submit_btn {
    width: 80px;
    padding: 5px 10px;
    background: #EEEEEE;
    border: 1px solid #AAAAAA;
    color: #666666;
}

.service_box {
    margin-bottom: 40px;
}

.service_box .left {
    float: left;
    width: 120px;
    height: 120px;
}

.service_box .left img {
    width: 120px;
    height: 120px;
}

.service_box .right {
    float: right;
    width: 360px;
}

.service_box ol li {
    list-style: decimal-leading-zero;
    margin-bottom: 5px;
}

.service_box ol li a {
    color: #058edc;
}

/* gallery */
#gallery {
    clear: both;
}

#gallery a {
    border: none;
}

#gallery ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#gallery ul li {
    margin: 0 0 40px 0;
    padding: 0 0 30px;
    border-bottom: 1px solid #CCC;
}

#gallery ul li .left {
    float: left;
    width: 190px;
}

#gallery ul li .left img {
    width: 180px;
    height: 110px;
    border: 5px solid #d4cbaf;
}

#gallery ul li .right {
    float: right;
    width: 280px;
}

#gallery ul li .right button {
    margin: 0;
}

/* end of gallery */

#contact_form form {
    margin: 0px;
    padding: 0px;
}

#contact_form form .input_field {
    width: 350px;
    padding: 6px 0;
    background: #fff;
    border: 1px solid #ccc;
}

#contact_form form label {
    display: block;
    width: 100px;
    margin-right: 10px;
    font-size: 14px;
}

#contact_form form textarea {
    width: 350px;
    height: 200px;
    background: #fff;
    border: 1px solid #ccc;
}

#contact_form form .submit_btn {
    margin-left: 110px;
    padding: 5px 10px;
    background: #EEEEEE;
    border: 1px solid #AAAAAA;
    color: #666666;
}

/* footer */

#templatemo_footer {
    clear: both;
    width: 860px;
    height: 50px;
    margin: 0 10px 0 100px;
    padding: 30px 0 0 0;
    text-align: center;
    color: #FFFFFF;
    background: url(../images/templatemo_footer.png) space bottom;
    z-index: 1000;
}

#templatemo_footer a {
    color: #FFFFFF;
}

/* footer wrapper */

/*custom css*/

.profile-container {

    padding: 0 10px;
    margin-left: 20px;

    display: flex; /* Flexbox to help with centering if needed */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */

    width: 60%; /* or set a specific width */
    max-width: 300px; /* optional: limits the maximum width */
    height: auto; /* maintains aspect ratio */
    border-radius: 50%; /* optional: makes the container circular if desired */
    overflow: hidden; /* hides any overflow */
}

/* Profile menu stays on the left */
.profile-menu {
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
}

/* Main menu stays on the right */
.main-menu {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    align-items: center;
    float: right;
}

/* Styling for the username */
.navbar-username {
    color: #e4decd; /* Adjust color as needed */
    height: 35px;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
}

.profile-picture {
    width: 100%; /* make the image take up the full width of the container */
    height: auto; /* maintain the aspect ratio */
    object-fit: cover; /* ensures the image covers the container while maintaining aspect ratio */
    transition: opacity 0.3s ease; /* Smooth transition for hover effect */
}

.modal-picture {
    width: 20%; /* make the image take up the full width of the container */
    height: auto; /* maintain the aspect ratio */
    object-fit: cover; /* ensures the image covers the container while maintaining aspect ratio */
    transition: opacity 0.3s ease; /* Smooth transition for hover effect */
    border-radius: 50%;
}

.navbar-picture {
    width: 30px; /* make the image take up the full width of the container */
    height: auto; /* maintain the aspect ratio */
    object-fit: cover; /* ensures the image covers the container while maintaining aspect ratio */
    transition: opacity 0.3s ease; /* Smooth transition for hover effect */
    margin: 0 5px 20px 10px;
    border-radius: 50%;
}

.profile-container-update {

    padding: 0 10px;
    margin-left: 20px;

    display: flex; /* Flexbox to help with centering if needed */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */

    width: 60%; /* or set a specific width */
    max-width: 300px; /* optional: limits the maximum width */
    height: auto; /* maintains aspect ratio */
    border-radius: 50%; /* optional: makes the container circular if desired */
    overflow: hidden; /* hides any overflow */
}

.profile-container-update:hover .profile-picture {
    opacity: 0.7; /* Slightly transparent on hover */
}

.profile-container-update:hover{
    cursor: pointer; /* Change cursor to pointer to indicate clickability */
    position: relative;
}

.profile-container-update::after {
    content: "Change Picture";
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 12px;
    pointer-events: none;
}

.profile-container-update:hover::after {
    opacity: 1; /* Show the "Change Picture" text on hover */
}

#background-images {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    background-repeat: no-repeat;

}

.game-bg {
    filter: brightness(0.6);
    transition: filter 0.3s ease, transform 0.2s ease-out;
    background-image: url('../images/BG tiles copy.jpg');

}

/*.game-bg-1 {*/
/*    background-image: url('../images/BG tiles copy.jpg');*/
/*}*/

/*.game-bg-2 {*/
/*    background-image: url('../images/BG tiles copy.jpg');*/
/*}*/


.tag-name {
    display: inline-block;
    background-color: #f1f1f1;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 15px;
    position: relative;
}

.tag-name:hover{
    background-color: lightgray;
}

.tag-name:active{
    background-color:gray;
}

.tag-name span {
    vertical-align: middle;
}

.remove-tag-button {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.remove-tag-button img {
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.tag-name .tag-link a{
    text-decoration: none;
    color: black;
}

.liked{
    color: #41e300;
}

.disliked{
    color: red;
}

.btn-primary.BGG {
    color: #fff;
    background-color: #a52834;
    border-color: #a52834;
}
.btn-primary.BGG:hover {
    color: #fff;
    background-color: #a50000;
    border-color: #a50000;
}

.btn-primary.BGG:disabled, .btn-primary.BGG.disabled {
    color: #fff;
    background-color: #a52834;
    border-color: #a52834;
}

.page-link.BGG {
    position: relative;
    display: block;
    color: #7a0202;
    text-decoration: none;
    background-color: #fff;
    border: 0.125rem solid #dee2e6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-link:hover {
    z-index: 2;
    color: #a52834;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
.page-link:focus {
    z-index: 3;
    color: #a52834;
    background-color: #e9ecef;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(165, 0, 0, 0.25);
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #a52834;
    border-color: #a52834;
}

.posts-list {
    margin-top: 20px;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.post h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.post h2 a{
    text-decoration: none;
}

.post .tags {
    display: flex;
    gap: 10px;
}

.post .tags span {
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    color: #777;
}

.author_pic{
    width: 30px;
    height: auto;
    object-fit: cover;
    transition: opacity 0.3s ease;
    margin: 5px 5px 5px 5px;
    border-radius: 50%;
}


.post-filter {
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.post-filter h5 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
}

.post-filter .input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.post-filter .input-group input[type="text"],
.post-filter .input-group input[type="datetime-local"],
.post-filter .input-group select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    width: calc(50% - 10px);
    font-size: 14px;
    color: #495057;
}

.post-filter .input-group input[type="text"]::placeholder {
    color: #adb5bd;
}

.post-filter .input-group input[type="datetime-local"] {
    color: #495057;
}

.post-filter .input-group select {
    width: calc(50% - 10px);
    color: #495057;
    background-color: #fff;
}

.post-filter label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #495057;
}

.post-filter .input-group div {
    width: 100%;
}

.post-filter .input-group div label {
    font-weight: normal;
    display: inline-block;
    margin-right: 10px;
}

.post-filter .input-group div span {
    display: inline-block;
    margin-right: 15px;
    font-size: 14px;
    color: #495057;
}

.post-filter .input-group div span input[type="checkbox"] {
    margin-right: 5px;
}

.post-filter .btn {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.post-filter .btn-primary.BGG {
    background-color: #781919;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.post-filter .btn-primary.BGG:hover {
    background-color: #0056b3;
}

.post-filter .btn-done {
    background-color: #6c757d;
    color: white;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.post-filter .btn-done:hover {
    background-color: #5a6268;
}

#filter-title{
    cursor: pointer;
}

.filter-content {
    display: none; /* Initially hidden */
    width: 100%;
    transition: max-height 0.4s ease-out;
}

.filter-content.show {
    display: block; /* Show when class is added */
}



/*custom css*/