<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{/fragments/head.html :: head('Admin Sanctuary')}"></head>
<body sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')">
<div th:replace="~{/fragments/background}"></div>
<div id="templatemo_wrapper">
    <div th:replace="~{/fragments/navbar.html}"></div>
    <div class="py-5 post-filter">
        <div class="container d-flex align-items-center flex-column ">
            <h5 id="filter-title" th:text="#{filter.label}">Filter Options</h5>
            <div id="filter-content" class="filter-content">
                <form action="#" th:action="@{__${requestURI}__}" method="get" th:object="${userFilterOptions}">
                    <div class="input-group align-content-center">
                        <input type="text" placeholder="First Name" th:field="*{firstName}"/>
                        <input type="text" placeholder="Last Name" th:field="*{lastName}"/>
                        <input type="text" placeholder="Email" th:field="*{email}"/>
                        <input type="text" placeholder="Username" th:field="*{username}"/>
                        <input type="text" placeholder="Phone Number" th:field="*{phoneNumber}"/>
                        <input type="radio" th:field="*{isBlocked}" id="isBlocked" value="true"/>
                        <label for="isBlocked" th:text="isBlocked"></label>
                        <input type="radio" th:field="*{isDeleted}" id="isDeleted" value="true"/>
                        <label for="isDeleted" th:text="isDeleted"></label>
                        <select th:field="*{createCondition}">
                            <option value="">None</option>
                            <option value="<">'<'</option>
                            <option value="<=>">'<='</option>
                            <option value=">">'>'</option>
                            <option value=">=">'>='</option>
                            <option value="=">'='</option>
                            <option value="!=">'!='</option>
                        </select>
                        <input type="datetime-local" th:field="*{created}"/>
                        <select th:field="*{updateCondition}">
                            <option value="">None</option>
                            <option value="<">'<'</option>
                            <option value="<=>">'<='</option>
                            <option value=">">'>'</option>
                            <option value=">=">'>='</option>
                            <option value="=">'='</option>
                            <option value="!=">'!='</option>
                        </select>
                        <input type="datetime-local" th:field="*{updated}"/>
                        <select th:field="*{sortBy}">
                            <option value="">Sort By</option>
                            <option value="firstName">First Name</option>
                            <option value="lastName">Last Name</option>
                            <option value="email">E-mail</option>
                            <option value="username">Username</option>
                            <option value="number">Phone</option>
                            <option value="registered">Date Registered</option>
                            <option value="isBlocked">Banned</option>
                            <option value="isDelete">Archived</option>
                        </select>
                        <select th:field="*{sortOrder}">
                            <option value="">Sort Order</option>
                            <option value="asc">Ascending</option>
                            <option value="desc">Descending</option>
                        </select>
                        <div>
                            <label>Roles:</label>
                            <span th:each="role : ${roles}">
                    <input type="checkbox" th:field="*{roles}" th:value="${role}" id="role-${role}"/>
                    <label th:for="'role-' + ${role}" th:text="${role}"></label>
                    </span>
                        </div>
                    </div>
                    <input class="btn btn-primary BGG" type="submit" value="Search"/>
                    <a class="btn btn-done" th:href="@{__${requestURI}__}">Clear Filter</a>
                </form>
            </div>
        </div>
    </div>

    <div id="templatemo_left_column">
        <div th:replace="~{/fragments/siteLogo}"></div> <!-- end of header -->

        <div id="templatemo_sidebar">
            <h4>Admins</h4>
            <div th:if="${admins.isEmpty()}">No Admins</div>
            <div th:unless="${admins.isEmpty()}">
                <ul class="templatemo_list" th:each="admin : ${admins}">
                    <li><a href="#" th:href="@{/BGGForum/users/__${admin.id}__}" th:text="${admin.username}">Admins</a>
                    </li>
                </ul>
            </div>

            <div class="cleaner_h40"></div>

            <h4>Moderators</h4>
            <div th:if="${mods.isEmpty()}">No Moderators</div>
            <div th:unless="${mods.isEmpty()}">
                <ul class="templatemo_list" th:each="deputy : ${mods}">
                    <li><a href="#" th:href="@{/BGGForum/users/__${deputy.id}__}" th:text="${deputy.username}">Moderators</a>
                    </li>
                </ul>
            </div>
            <div class="cleaner_h20"></div>

            <h6 th:text="'Total filtered users: ' + ${totalItems}"></h6>
            <h6 th:text="'Total registered users: ' + ${allUsers.size}"></h6>
        </div>
    </div>

    <div id="templatemo_right_column">
        <div id="templatemo_main">
            <div th:if="${users.isEmpty()}">
                <h2>No Users</h2>
            </div>
            <div th:unless="${users.isEmpty()}">
                <div th:each="user : ${users}">
                    <button th:id="${user.id}" type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            th:data-bs-target="'#userModal' + ${user.id}">
                        <img class="modal-picture"
                             th:src="${user.profilePicture != null ? user.profilePicture.photoUrl : '/images/blank_profile.png'}"
                             src="../static/images/blank_profile.png"
                             alt="profile_picture">
                        <span th:text="${user.firstName} + ' ' + ${user.lastName}">View User Details</span>
                    </button>

                    <div th:with="userModalId=${'userModal' + user.id}"
                         class="portfolio-modal modal fade" th:id="${userModalId}"
                         tabindex="-1" aria-labelledby="portfolioModal1"
                         th:attr="aria-labelledby=${userModalId}"
                         aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header border-0">
                                    <button class="btn-close" type="button" data-bs-dismiss="modal"
                                            aria-label="Close"></button>

                                </div>
                                <div class="modal-body text-center pb-5">
                                    <div class="container">
                                        <div class="justify-content-center">
                                            <div class="row col-lg-8">
                                                <!--AdminButtons-->
                                                <div>
                                                    <div th:unless="${user.username == #authentication.name}">
                                                        <form action="#" sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')"
                                                              th:action="@{__${requestURI}__/__${user.id}__/block(pageIndex=${currentPage - 1}, pageSize=${pageSize})}"
                                                              method="post">
                                                            <input th:if="${user.isBlocked}" type="submit"
                                                                   class="btn btn-success mt-auto lh-1" value="Free"/>
                                                            <input th:unless="${user.isBlocked}" type="submit"
                                                                   class="btn btn-danger mt-auto lh-1" value="Block">
                                                        </form>
                                                        <form action="#" sec:authorize="hasRole('ADMIN')"
                                                              th:action="@{__${requestURI}__/__${user.id}__/archive(pageIndex=${currentPage - 1}, pageSize=${pageSize})}"
                                                              method="post">
                                                            <input th:unless="${user.isDeleted}" type="submit"
                                                                   class="btn btn-danger mt-auto lh-1" value="Archive"/>
                                                            <input th:formaction="@{__${requestURI}__/__${user.id}__/delete(pageIndex=${currentPage - 1}, pageSize=${pageSize})}"
                                                                   type="submit"
                                                                   class="btn btn-danger mt-auto lh-1" value="Delete"/>
                                                            <input th:if="${user.roles.?[authority != 'USER'].isEmpty()}"
                                                                   th:formaction="@{__${requestURI}__/__${user.id}__/promote(pageIndex=${currentPage - 1}, pageSize=${pageSize})}"
                                                                   type="submit"
                                                                   class="btn btn-success mt-auto lh-1" value="Promote"/>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- Portfolio Modal - Title-->
                                                <div class="portfolio-modal-title text-secondary text-uppercase mb-0"
                                                     th:text="${user.firstName} + ' ' + ${user.lastName}">Full Name
                                                </div>
                                                <!-- Icon Divider-->
                                                <div class="divider-custom">
                                                    <div class="divider-custom-line"></div>
                                                    <div class="divider-custom-icon"><i
                                                            class="fa-solid fa-address-card"></i></i>
                                                    </div>
                                                    <div class="divider-custom-line"></div>
                                                </div>
                                                <!-- Portfolio Modal - Image-->
                                                <div>
                                                    <img class="modal-picture"
                                                         th:src="${user.profilePicture != null ? user.profilePicture.photoUrl : '/images/blank_profile.png'}"
                                                         src="../static/images/blank_profile.png"
                                                         alt="profile_picture">
                                                </div>
                                                <!-- Portfolio Modal - Text-->
                                                <p th:text="${user.email}">E-mail</p>
                                                <p class="mb-4">
                                                    <a href="#" th:href="@{/BGGForum/users/__${user.id}__}"
                                                       th:text="${user.username}"></a>
                                                </p>
                                                <p class="mb-4"
                                                   th:text="'Registered: ' + ${#temporals.format(user.registeredAt,'dd-MM-yyyy HH:mm')}">
                                                    Time of Registration
                                                </p>
                                                <p class="mb-4">
                                        <span th:each="role, iterStat : ${user.roles}">
                                            <span th:text="${role.authority}">Role</span>
                                            <span th:if="${!iterStat.last}">,</span>
                                        </span>
                                                </p>
                                                <div class="mb-4">
                                                    <div th:unless="${phones.?[user == user].isEmpty()}"
                                                         th:text="${phones.?[user == user].get(0).number}"></div>
                                                </div>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    <i class="fas fa-xmark fa-fw"></i>Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav th:replace="~{/fragments/pagination.html :: pagination(pagingUser)}"></nav>
        </div>
    </div>
    <footer th:replace="~{/fragments/footer}"></footer>
</div>
<div th:replace="~{/fragments/scripts.html}"></div>
</body>
</html>