<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/fragments/head.html :: head(title = 'Edit Comment')}"></head>
<body>

<div id="templatemo_wrapper">

    <div th:replace="~{/fragments/navbar.html}"></div>


    <div id="templatemo_left_column">
        <div th:replace="~{/fragments/siteLogo}"></div>
    </div> <!-- end of templatemo_left_column -->

    <div id="templatemo_right_column">

        <div id="templatemo_main">


            <div id="comment_form">
                <h3>Edit Comment</h3>

                <form action="#" th:action="@{/BGGForum/posts/__${postId}__/comments/__${commentId}__/update}" th:object="${comment}"
                      method="post">

                    <div class="form_row">
                        <label><strong>Content</strong></label>
                        <label class="error" th:errors="*{content}">Content error placeholder</label>
                        <br/>
                        <textarea name="content" class="textarea-post-content" rows="" cols="" th:field="*{content}"></textarea>
                    </div>
                    <input type="submit" name="Submit" value="Submit" class="submit_btn"/>
                </form>

            </div>

        </div> <!-- end of main -->

        <div class="cleaner"></div>
    </div>
    <!-- end of templatemo_main -->
    <div class="cleaner_h20"></div>

    <footer th:replace="~{/fragments/footer}"></footer>

    <div class="cleaner"></div>
</div> <!-- end of warpper -->
<div th:replace="~{/fragments/scripts.html}"></div>
<!-- templatemo 251 clean blog -->
<!--
Clean Blog Template
http://www.templatemo.com/preview/templatemo_251_clean_blog
-->
</body>
</html>