<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="~{/fragments/head.html :: head(title = 'Welcome to BGG Forum')}"></head>
<body>
<div class="body-content">
    <div sec:authorize="isAuthenticated()">
        <form action="#" th:action="@{/BGGForum/main}" method="get" th:object="${postFilterOptions}">
            <label th:text="#{filter.label}">Filter Options</label>
            <br/><br/>
            <input type="text" placeholder="Post Title" th:field="*{title}"/>
            <input type="text" placeholder="Post Content" th:field="*{content}"/>
            <select th:field="*{createCondition}">
                <option value="before">'<'</option>
                <option value="beforeEqual">'<='</option>
                <option value="after">'>'</option>
                <option value="afterEqual">'>='</option>
                <option value="equal">'='</option>
                <option value="notEqual">'!='</option>
            </select>
            <input type="datetime-local" th:field="*{created}"/>
            <select th:field="*{updateCondition}">
                <option value="before">'<'</option>
                <option value="beforeEqual">'<='</option>
                <option value="after">'>'</option>
                <option value="afterEqual">'>='</option>
                <option value="equal">'='</option>
                <option value="notEqual">'!='</option>
            </select>
            <input type="datetime-local" th:field="*{updated}"/>
            <div>
                <label>Tags:</label>
                <div th:each="tag : ${tags}">
                    <input type="checkbox" th:field="*{tags}" th:value="${tag.id}" id="tag-${tag.id}"/>
                    <label th:for="'tag-' + ${tag.id}" th:text="${tag.name}"></label>
                </div>
            </div>
            <select th:field="*{sortBy}">
                <option value="">Sort By</option>
                <option value="title">Title</option>
                <option value="content">Content</option>
                <option value="user">Creator</option>
                <option value="created">Date Created</option>
                <option value="updated">Date Updated</option>
            </select>
            <select th:field="*{sortOrder}">
                <option value="">Sort Order</option>
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
            <br/><br/>

            <input type="submit" value="Search"/>
        </form>
    </div>

    <div th:if="${posts.isEmpty()}">
        <h2 th:text="#{posts.title.empty}">No Posts</h2>
    </div>
    <div th:unless="${posts.isEmpty()}">
        <h2 th:text="#{posts.title}">All Posts</h2>

        <div class="margin12" th:each="post : ${posts}">
            <label th:text="#{post.label.title}  + ': '">Title</label>
            <span class="margin12">
                <a href="#" th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}">Post</a>
            </span>
            <p class="margin12" th:text="#{post.label.content}  + ': ' +       ${post.content}">Post content</p>
            <p class="margin12" th:text="#{post.label.created}  + ': ' +       ${#temporals.format(post.createdAt, 'dd-MM-yyyy HH:mm')}">Time of Creation</p>
            <p class="margin12" th:text="#{post.label.updated}  + ': ' +       ${#temporals.format(post.updatedAt,'dd-MM-yyyy HH:mm')}">Last Updated</p>
            <p class="margin12" th:text="#{post.label.createdBy}  + ': ' +       ${post.userId.username}">Creator</p>
            <label th:text="#{post.label.tag}  + ': '">Tags:</label>
            <span class="margin12" th:each="tag, iterStat : ${post.tags}">
                <span th:text="${tag.name}">Tag Name</span>
                <span th:if="${!iterStat.last}">, </span>
            </span>
        </div>
    </div>
</div>

<nav aria-label="Pagination" th:if="${totalPages > 0}">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
            <a th:replace="~{fragments/paging :: paging(0, '<<', 'First Page')}"></a>
        </li>

        <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
            <a th:replace="~{fragments/paging :: paging(${currentPage - 2}, 'Prev', 'Previous Page')}"></a>
        </li>

        <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
            <a class="page-link" href="#">...</a>
        </li>

        <li class="page-item" th:classappend="${page == currentPage - 1} ? 'active'"
            th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 0, currentPage + 2 < totalPages ? currentPage + 2 : totalPages - 1)}">
            <a th:replace="~{fragments/paging :: paging(${page}, ${page + 1}, 'Page ' + ${page + 1})}"></a>
        </li>

        <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
            <a class="page-link" href="#">...</a>
        </li>

        <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
            <a th:replace="~{fragments/paging :: paging(${currentPage}, 'Next', 'Next Page')}"></a>
        </li>

        <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
            <a th:replace="~{fragments/paging :: paging(${totalPages - 1}, '>>', 'Last Page')}"></a>
        </li>
    </ul>
</nav>

<footer th:replace="~{/fragments/footer.html::footer}"></footer>
</body>
</html>