<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/fragments/head.html :: head(title = 'Welcome to BGG Forum')}"><title>Title</title></head>
<body>

<div th:replace="~{/fragments/background}"></div>

<div id="templatemo_wrapper">
    <div th:replace="~{/fragments/navbar}"></div>

    <h4 class="post-filter message" th:if="${param.logout}" th:text="#{user.label.logout-success}"> Log out successful</h4>
    <h4 class="post-filter message" th:if="${param.deleted}" th:text="#{user.label.user-self-delete}"> Log out successful</h4>

    <div sec:authorize="isAuthenticated()">
        <h4  class="post-filter message" th:if="${param.success}"
             th:text="#{user.label.login-success}">
        </h4>
    </div>

    <div id="templatemo_left_column">
        <div th:replace="~{/fragments/siteLogo}"></div> <!-- end of header -->

        <div id="templatemo_sidebar">
            <h4>Most Commented posts</h4>
            <ul class="templatemo_list" th:each="post : ${postsCommented}">
                <li><a href="#" th:href="@{/posts/__${post.id}__}" th:text="${post.title}">Post</a></li>
            </ul>

            <div class="cleaner_h40"></div>
            <h6 th:text="'Total registered users: ' + ${totalUsers}"></h6>
        </div>
    </div>

    <div id="templatemo_right_column">
        <div id="templatemo_main">
            <div th:if="${postsRecent.isEmpty()}">
                <h2 th:text="#{posts.title.empty}">No Posts</h2>
            </div>

            <div th:unless="${postsRecent.isEmpty()}">
                <h3>
                    <span th:text="'Displaying 10 most recent from ' + ${totalPosts} + ' posts.'"></span><br/>
                    <span sec:authorize="!isAuthenticated()">
                        <a th:href="@{/auth/register}">Join</a> us to see the rest.
                    </span>
                </h3>
                <div th:each="post : ${postsRecent}">
                    <label th:text="#{post.label.title}  + ': '">Title</label>
                    <span>
                        <a href="#" th:href="@{/BGGForum/posts/__${post.id}__}" th:text="${post.title}">Post</a>
                    </span>
                    <div th:text="#{post.label.created}  + ': ' + ${#temporals.format(post.createdAt,'dd-MM-yyyy HH:mm')}">
                        Time of Creation
                    </div>
                    <div th:text="#{post.label.createdBy}  + ': ' + ${post.userId.firstName} + ' ' +  ${post.userId.lastName}">
                        Creator
                    </div>
                    <span th:text="#{post.label.tag}  + ': '">Tags:</span>
                    <span th:each="tag, iterStat : ${post.tags}">
                        <span th:text="${tag.name}">Tag Name</span>
                        <span th:if="${!iterStat.last}">,</span>
                    </span>
                    <br/><br/>
                </div>
                <nav th:replace="~{/fragments/pagination.html :: pagination(pagingPost)}"></nav>
            </div>
        </div>
    </div>
    <footer th:replace="~{/fragments/footer}"></footer>
</div>

<div th:replace="~{/fragments/scripts.html}"></div>
</body>
</html>