<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="~{/fragments/head.html :: head(title = 'Posts')}"></head>
<body sec:authorize="isAuthenticated()">
<div id="templatemo_wrapper">

    <div th:replace="~{/fragments/navbar.html}"></div>

    <div class="py-5 post-filter" sec:authorize="isAuthenticated()">
        <div class="container d-flex align-items-center flex-column">
            <form action="#" th:action="@{__${requestURI}__}" method="get" th:object="${postFilterOptions}">
                <h5 th:text="#{filter.label}">Filter Options</h5>
                <div class="input-group">
                    <input type="text" placeholder="Post Title" th:field="*{title}"/>
                    <input type="text" placeholder="Post Content" th:field="*{content}"/>
                    <select th:field="*{createCondition}">
                        <option value="">None</option>
                        <option value="<">'<'</option>
                        <option value="<=>">'<='</option>
                        <option value=">">'>'</option>
                        <option value=">=">'>='</option>
                        <option value="=">'='</option>
                        <option value="!=">'!='</option>
                    </select>
                    <input type="datetime-local" th:field="*{created}"/>
                    <select th:field="*{updateCondition}">
                        <option value="">None</option>
                        <option value="<">'<'</option>
                        <option value="<=>">'<='</option>
                        <option value=">">'>'</option>
                        <option value=">=">'>='</option>
                        <option value="=">'='</option>
                        <option value="!=">'!='</option>
                    </select>
                    <input type="datetime-local" th:field="*{updated}"/>
                    <select th:field="*{sortBy}">
                        <option value="">Sort By</option>
                        <option value="title">Title</option>
                        <option value="content">Content</option>
                        <option value="user">Creator</option>
                        <option value="created">Date Created</option>
                        <option value="updated">Date Updated</option>
                    </select>
                    <select th:field="*{sortOrder}">
                        <option value="">Sort Order</option>
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                    </select>
                    <div>
                        <label>Tags:</label>
                        <span th:each="tag : ${tags}">
                    <input type="checkbox" th:field="*{tags}" th:value="${tag.id}" id="tag-${tag.id}"/>
                    <label th:for="'tag-' + ${tag.id}" th:text="${tag.name}"></label>
                    </span>
                    </div>
                    <br/><br/>
                </div>

                <input class="btn btn-primary" type="submit" value="Search"/>
                <a class="btn btn-done" th:href="@{__${requestURI}__}">Clear Filter</a>
            </form>
        </div>
    </div>

    <div id="templatemo_left_column">
        <div th:replace="~{/fragments/siteLogo}"></div>
    </div>

    <div id="templatemo_right_column">
        <div id="templatemo_main">
            <div th:if="${posts.isEmpty()}">
                <h2 th:text="#{posts.title.empty}">No Posts</h2>
            </div>

            <div th:unless="${posts.isEmpty()}">
                <div th:each="post : ${posts}">
                    <label th:text="#{post.label.title}  + ': '">Title</label>
                    <span>
                        <a href="#" th:href="@{/BGGForum/posts/__${post.id}__}" th:text="${post.title}">Post</a>
                    </span>
                    <div th:text="#{post.label.content}  + ': ' + ${post.content}">Post content</div>

                    <div class="comment_text">
                        <div class="reply" th:if="${post.userId.username == #authentication.name}"><a href="#">&#9998;Edit</a>
                        </div>
                        <div class="reply" th:if="${isAdmin || post.userId.username == #authentication.name}"><a
                                href="#" th:href="@{/BGGForum/posts/__${post.id}__/delete(pageIndex=${currentPage - 1}, pageSize=${pageSize})}">&#128465;Delete</a></div>
                    </div>
<!--                        TODO fix paging deletion to redirect to proper page if last entry on page-->
                    <div th:text="#{post.label.created}  + ': ' + ${#temporals.format(post.createdAt,'dd-MM-yyyy HH:mm')}">
                        Time of Creation
                    </div>

                    <div th:text="#{post.label.updated}  + ': ' + ${#temporals.format(post.updatedAt,'dd-MM-yyyy HH:mm')}">
                        Last Updated
                    </div>
                    <div th:text="#{post.label.createdBy}  + ': ' + ${post.userId.username}">
                        Creator
                    </div>
                    <span th:text="#{post.label.tag}  + ': '">Tags:</span>
                    <span th:each="tag, iterStat : ${post.tags}">
                        <span th:text="${tag.name}">Tag Name</span>
                        <span th:if="${!iterStat.last}">,</span>
                    </span>
                    <br/><br/>
                </div>
                <nav th:replace="~{/fragments/pagination.html :: pagination(pagingPost)}"></nav>
            </div>
        </div>
    </div>

    <footer th:replace="~{/fragments/footer}"></footer>
</div>
<div th:replace="~{/fragments/scripts.html}"></div>
</body>
</html>