<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/fragments/head.html :: head(${post.getTitle()})}"></head>
<body>
<div th:replace="~{/fragments/background}"></div>

<div id="templatemo_wrapper">

    <div th:replace="~{/fragments/navbar.html}"></div>


    <div id="templatemo_left_column">
        <div th:replace="~{/fragments/siteLogo}"></div>
    </div> <!-- end of templatemo_left_column -->

    <div id="templatemo_right_column">

        <div id="templatemo_main">

            <div class="post_section">

                <span class="like-icon"><img src="/images/green-thumbs-up-11246.png" width="30px" height="auto"></span>
                <span class="likes" th:text="${likes}">256</span>
                <span class="dislike-icon"><img src="/images/thumbs-down-14924.png" width="30px" height="auto"></span>
                <span class="dislikes" th:text="${dislikes}">256</span>
                <span class="post-actions">
                    <span class="reply" th:if="${post.userId.username == #authentication.name}">
                        <a href="#" th:href="@{__${requestURI}__/update}">&#9998;Edit</a>
                    </span>
                    <span class="reply" th:if="${isAdmin || post.userId.username == #authentication.name}">
                        <a href="#" th:href="@{__${requestURI}__/delete}">&#128465;Delete</a>
                    </span>
                </span>
                <span class="comment"><a href="#comment_section" th:text="${comments.content.size()}">256</a></span>

                <h2 th:text="${post.getTitle()}">Aliquam lorem ante dapibus in viverra </h2>
                <span th:text="${#temporals.format(post.getCreatedAt(), 'dd-MM-yyyy')}">December 28, 2048</span> |
                <strong>Author:</strong> <span
                    th:text="${post.userId.firstName} + ' ' + ${post.userId.lastName}">John</span> | <strong
                    th:text="#{post.label.tag}">Category:</strong> <span th:each="tag, iterStat : ${post.getTags()}">
                <span class="tag-name">
                    <span class="tag-link">
                        <a href="#" th:href="@{/BGGForum/posts?tags=__${tag.id}__}"
                           th:text="${tag.getName()}">Tag Name</a>
                    </span>
                    <span class="remove-tag-button" th:if="${isAdmin || post.userId.username == #authentication.name}">
                        <a href="#" th:href="@{__${requestURI}__/tags/__${tag.id}__/remove}">
                            <img src="/images/cancel-close-10373.png" alt="Remove tag">
                        </a>
                    </span>
                </span>
                <!--<span th:if="${!iterStat.last}">,</span>-->
                </span>

                <div class="post-content" th:text="${post.getContent()}">

                </div>
            </div>
            <div class="comment_tab">
                Comments
            </div>

            <div id="comment_section">
                <ol class="comments first_level">
                    <li>
                        <div class="comment_box commentbox1" th:each="comment : ${comments}">
                            <div class="gravatar">
                                <img th:src="${pictures.?[user == comment.userId].isEmpty()
                                                                        ? '/images/blank_profile.png'
                                                                        : pictures.?[user == comment.userId].get(0).photoUrl}"
                                     src="../static/images/blank_profile.png"
                                     alt="profile_picture">
                            </div>

                            <div class="comment_text">
                                <div class="comment_author">
                                    <span th:text="${comment.getUserId().getUsername()}">Steve</span>
                                    <span class="date"
                                          th:text="${#temporals.format(comment.getCreatedAt(), 'dd-MM-yyyy HH:mm:ss')}">December 10, 2048</span>
                                    <!--<span class="time">12:30 AM</span>-->
                                </div>
                                <p th:text="${comment.getContent()}">Phasellus mattis tellus eu risusLorem ipsum dolor
                                    sit amet, consectetur adipiscing
                                    elit.</p>
                                <div class="reply" th:if="${comment.userId.username == #authentication.name}">
                                    <a href="#" th:href="@{__${requestURI}__/comments/__${comment.id}__/update}">&#9998;Edit</a>
                                </div>
                                <div class="reply"
                                     th:if="${isAdmin || comment.userId.username == #authentication.name}">
                                    <a href="#" th:href="@{__${requestURI}__/comments/__${comment.id}__/delete}">&#128465;Delete</a>
                                </div>
                            </div>
                            <div class="cleaner"></div>
                        </div>
                    </li>
                </ol>
            </div>

            <div id="comment_form">
                <h3>Leave a comment</h3>

                <form action="#" th:action="@{__${requestURI}__/comments/new}" th:object="${comment}"
                      method="post">

                    <div class="form_row">
                        <label><strong>Comment</strong></label>
                        <label class="error" th:errors="*{content}">Content error placeholder</label>
                        <br/>
                        <textarea name="comment" rows="" cols="" th:field="*{content}"></textarea>
                    </div>
                    <input type="submit" name="Submit" value="Submit" class="submit_btn"/>
                </form>

            </div>

        </div> <!-- end of main -->

        <div class="cleaner"></div>
    </div>
    <!-- end of templatemo_main -->
    <div class="cleaner_h20"></div>

    <footer th:replace="~{/fragments/footer}"></footer>

    <div class="cleaner"></div>
</div> <!-- end of warpper -->
<div th:replace="~{/fragments/scripts.html}"></div>
<!-- templatemo 251 clean blog -->
<!-- 
Clean Blog Template 
http://www.templatemo.com/preview/templatemo_251_clean_blog 
-->
</body>
</html>