<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head.html :: head('Register')}"></head>
<body>
<div class="body-content">
    <h2>Register</h2>

    <form action="#" th:action="@{/auth/register}" th:object="${userRegisterModel}" method="post">
        <label th:text="#{user.label.username}">Username</label>
        <br/>
        <input type="text" th:field="*{username}"/>
        <small class="label-error" th:errors="*{username}">Username error placeholder</small>
        <br/><br/>

        <label th:text="#{user.label.password}">Password</label>
        <br/>
        <input type="password" th:field="*{password}"/>
        <small class="label-error" th:errors="*{password}">Password error placeholder</small>
        <br/><br/>

        <label th:text="#{user.label.password-confirm}">Confirm Password</label>
        <br/>
        <input type="password" th:field="*{passwordConfirm}"/>
        <small class="label-error" th:errors="*{passwordConfirm}">Password confirm error placeholder</small>
        <br/><br/>

        <label th:text="#{user.label.first-name}">First Name</label>
        <br/>
        <input type="text" th:field="*{firstName}"/>
        <small class="label-error" th:errors="*{firstName}">First name error placeholder</small>
        <br/><br/>

        <label th:text="#{user.label.last-name}">Last Name</label>
        <br/>
        <input type="text" th:field="*{lastName}"/>
        <small class="label-error" th:errors="*{lastName}">Last name error placeholder</small>
        <br/><br/>

        <label th:text="#{user.label.email}">Email</label>
        <br/>
        <input type="text" th:field="*{email}"/>
        <small class="label-error" th:errors="*{email}">Email error placeholder</small>
        <br/><br/>

        <input type="submit" value="Register"/>
    </form>
</div>

<div th:replace="~{/fragments/footer.html :: footer}"></div>
<div th:replace="~{/fragments/scripts.html}"></div>
</body>
</html>